# Ignorer l'environnement virtuel Python
env/

# Ignorer les fichiers .pyc et __pycache__
*.pyc
__pycache__/

# Ignorer les fichiers de configuration de l'IDE (par exemple, VSCode, PyCharm)
.vscode/
.idea/
